<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Account Info</title>
    <link rel="stylesheet" href="/form-style.css">
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px 10px;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="images">
            <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
        </div>
    </nav>
    <div class="container">
        <h1>Account Information</h1>

        <fieldset>
            <legend>Basics</legend>
            <div class="row">
                <div class="col">
                    Account Type <b>{{account_type}}</b>
                    <!-- required -->
                </div>
                <div class="col">
                    Account ID <b id="accountID">{{accountID}}</b>

                    <button type="button" class="copy_button" onclick="copyEvent('accountID')"><img
                            src="/images/clipboard.svg" height="18" width="19"></button>

                    <style>
                        .copy_button {
                            padding: 0px;
                            color: #999;
                            margin-left: 10px;
                            border: 0;
                            margin: 0;
                            background: initial;
                        }
                    </style>

                    <script>
                        function copyEvent(id) {
                            var str = document.getElementById(id);
                            window.getSelection().selectAllChildren(str);
                            document.execCommand("Copy")
                        }
                    </script>
                </div>
                <div class="col">
                    Subbranch <b>{{subbranch}}</b>
                    <!-- required pattern=".*@.*"/> -->
                </div>
            </div>

            <div class="row">
                <div class="col">
                    openDate <b>{{openDate}}</b>
                    <!--   required minlength="6" value="" /> -->
                </div>

                <div class="col">
                    balance <b>{{openDate}}</b>
                    <!--   required minlength="6" value="" /> -->
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Associated Clients</legend>
            {{#each associated_clients}}
            <div class="row">
                <div class="col">
                    Associated client: <a href="/profile/client?id={{this}}"><b>{{this}}</b></a>
                    <!-- required -->
                </div>
            </div>
            {{/each}}
        </fieldset>

        <fieldset>
            <legend>Account Type Specific Information</legend>
            {{#each details}}
            <div class="row">
                <div class="col">
                    {{this.0}}: <b>{{this.1}}</b>
                    <!-- required -->
                </div>
            </div>
            {{/each}}
        </fieldset>
        <div id="profile-buttons">
            <div class="row">
                <div class="col" align="right">
                    <a href="/edit/account?id={{accountID}}">
                        <button id="editbutton">Edit</button>
                    </a>
                    <a href="/delete/account?id={{accountID}}">
                        <button id="deletebutton">Delete</button>
                    </a>
                </div>
            </div>

        </div>
        <br />
    </div>
</body>

</html>