<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>New client</title>
    <link rel="stylesheet" href="/form-style.css">
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px 10px;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <div class="images">
            <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
        </div>
    </nav>
    <div class="container">
        <h1>{{client.clientName}}'s Profile</h1>

        <fieldset>
            <legend>Basics</legend>
            <div class="row">
                <div class="col">
                    Name <b>{{client.clientName}}</b>
                    <!-- required -->
                </div>
                <div class="col">
                    ID <b>{{client.clientID}}</b>
                </div>
                <div class="col">
                    Tel <b>{{client.clientTel}}</b>
                    <!-- required pattern=".*@.*"/> -->
                </div>
            </div>

            <div class="row">
                <div class="col">
                    Address <b>{{client.clientAddr}}</b>
                    <!--   required minlength="6" value="" /> -->
                </div>

                <div class="col">
                    <!--   required minlength="6" value="" /> -->
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Contact</legend>

            <div class="row">
                <div class="col">
                    Contact Name <b>{{client.contactName}}</b>
                    <!-- required -->
                </div>
            </div>

            <div class="row">
                <div class="col">
                    Contact Email <b>{{client.contactEmail}}</b>
                    <!-- <input type="date" name="submission.date" id="date" value="2020&#45;12&#45;26"> -->
                </div>
            </div>

        </fieldset>

        {{!-- <fieldset>
            <legend>Service</legend>



        </fieldset> --}}
        {{!-- <form action="/new/client?id={{client.clientID}}" method="post" enctype="multipart/form-data">
            <input type="submit" value="Edit" class="is-full-width" />
        </form> --}}
        <div id="profile-buttons">
            <div class="row">
                <div class="col">
                    <button>
                        <a href=" /search?search={{client.clientID}}&searchOption=Account.clientID">Accounts</a>
                    </button>
                    <button>
                        <a href="/search?search={{client.clientID}}&searchOption=Loan.clientID">Loans</a>
                    </button>
                </div>
                <div class="col" align="right">
                    <button id="editbutton">
                        <a id="editbutton" href="/edit/client?id={{client.clientID}}">Edit</a>
                    </button>
                    <button id="deletebutton">
                        <a id="deletebutton" href="/delete/client?id={{client.clientID}}">Delete</a>
                    </button>
                </div>
            </div>

        </div>
        <br />
    </div>
</body>

</html>