<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Client Profile</title>
    <link rel="stylesheet" href="/form-style.css">
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px 10px;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/ryanyuan-yyr/database-lab-bank-mangement-system">About</a></li>
        </ul>
        <div class="images">
            <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
        </div>
    </nav>
    <div class="container">
        <h1>{{client.clientName}}'s Profile</h1>

        <fieldset>
            <legend>Basics</legend>
            <div class="row">
                <div class="col">
                    Name <b>{{client.clientName}}</b>

                </div>
                <div class="col">
                    ID <b id="clientID">{{client.clientID}}</b>

                    <button type="button" class="copy_button" onclick="copyEvent('clientID')"><img
                            src="/images/clipboard.svg" height="18" width="19"></button>

                    <style>
                        .copy_button {
                            padding: 0px;
                            color: #999;
                            margin-left: 10px;
                            border: 0;
                            margin: 0;
                            background: initial;
                        }
                    </style>

                    <script>
                        function copyEvent(id) {
                            var str = document.getElementById(id);
                            window.getSelection().selectAllChildren(str);
                            document.execCommand("Copy")
                        }
                    </script>
                </div>
                <div class="col">
                    Tel <b>{{client.clientTel}}</b>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    Address <b>{{client.clientAddr}}</b>

                </div>

                <div class="col">

                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Associated Accounts</legend>
            {{#if accoutns}}
            {{#each accounts}}
            <div class="row">
                <div class="col">
                    Associated account: <a href="/profile/account?id={{this}}"><b>{{this}}</b></a>

                </div>
            </div>
            {{/each}}
            {{else}}
            <p><u>No associated account</u></p>
            {{/if}}


        </fieldset>

        <fieldset>
            <legend>Associated Loans</legend>
            {{#if loans}}
            {{#each loans}}
            <div class="row">
                <div class="col">
                    Associated loan: <a href="/profile/loan?id={{this}}"><b>{{this}}</b></a>

                </div>
            </div>
            {{/each}}
            {{else}}
            <p><u>No associated loan</u></p>
            {{/if}}

        </fieldset>

        <fieldset>
            <legend>Contact</legend>

            <div class="row">
                <div class="col">
                    Contact Name <b>{{client.contactName}}</b>
                </div>
                <div class="col">
                    Contact Relation <b>{{client.contactRelationship}}</b>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    Contact Email <b>{{client.contactEmail}}</b>
                </div>
                <div class="col">
                    Contact Tel <b>{{client.contactTel}}</b>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Service</legend>
            <div class="col">
                Employee ID <b>{{client.employeeID}}</b></div>
            <div class="col">
                Service Type <b>{{client.serviceType}}</b></div>
        </fieldset>
        <div id="profile-buttons">
            <div class="row">
                <div class="col" align="right">
                    <a href="/edit/client?id={{client.clientID}}">
                        <button id="editbutton">Edit</button>
                    </a>
                    <a href="/delete/client?id={{client.clientID}}">
                        <button id="deletebutton">Delete</button>
                    </a>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

</html>