<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Loan Info</title>
    <link rel="stylesheet" href="/form-style.css">
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px 10px;
        }
    </style>
</head>

<body>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://github.com/ryanyuan-yyr/database-lab-bank-mangement-system">About</a></li>
        </ul>
        <div class="images">
            <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
        </div>
    </nav>
    <div class="container">
        <h1>Account Information</h1>
        <h4>Status: <b>{{status}}</b></h4>
        <h5>Paid amount: <u>{{paid}}</u>, Unpaid amount: <u>{{unpaid}}</u></h5>
        <fieldset>
            <legend>Basics</legend>
            <div class="row">
                <div class="col">
                    Loan ID <b id="loanID">{{loanID}}</b>

                    <button type="button" class="copy_button" onclick="copyEvent('loanID')"><img
                            src="/images/clipboard.svg" height="18" width="19"></button>

                    <style>
                        .copy_button {
                            padding: 0px;
                            color: #999;
                            margin-left: 10px;
                            border: 0;
                            margin: 0;
                            background: initial;
                        }
                    </style>

                    <script>
                        function copyEvent(id) {
                            var str = document.getElementById(id);
                            window.getSelection().selectAllChildren(str);
                            document.execCommand("Copy")
                        }
                    </script>
                </div>
                <div class="col">
                    Subbranch <a href="/profile/subbranch?name={{subbranch}}"><b>{{subbranch}}</b></a>
                </div>
            </div>
            <div class="col">
                Amount <b>{{amount}}</b>

            </div>

        </fieldset>

        <fieldset>
            <legend>Associated Clients</legend>
            {{#each associated_clients}}
            <div class="row">
                <div class="col">
                    Associated client: <a href="/profile/client?id={{this}}"><b>{{this}}</b></a>
                </div>
            </div>
            {{/each}}
        </fieldset>

        <fieldset>
            <legend>Payments</legend>
            {{#each payments}}
            <div class="row">
                <div class="col">
                    {{this.date}}: <b>{{this.amount}}</b>
                </div>
            </div>
            {{/each}}
        </fieldset>
        <div id="profile-buttons">
            <div class="row">
                <div class="col" align="right">
                    <a href="/new/payment?id={{loanID}}">
                        <button id="editbutton">Pay</button>
                    </a>
                    <a href="/delete/loan?id={{loanID}}">
                        <button id="deletebutton">Delete</button>
                    </a>
                </div>
            </div>
        </div>
        <br />
    </div>
</body>

</html>