<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/favicon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Results</title>
</head>

<body>
    <main>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <div class="images">
                <a href="dashboard.html"><img src="/images/dots.png" alt=""></a>
            </div>
        </nav>
        <div id="search-settings">
            {{#if search}}
            <h1 id="search-results-title">Results for "{{search}}"</h1>
            {{else}}
            <h1 id="search-results-title">All entries</h1>
            {{/if}}
        </div>
        <div class="search-results">
            {{#if results}}
            {{#each results}}
            <a class="result-entry" href="/profile/client?id={{this.id}}">
                <div class="result-name">
                    <p style="font-size:20px"><b>{{{this.result_name}}}</b></p>
                </div>
                <div class="result-id">
                    <p style="font-size:10px">{{{this.result_subtitle}}}</p>
                </div>
                <div class="result-desc">
                    {{#each this.result_desc}}
                    <p><b>{{@key}}</b>: {{{this}}}</p>
                    {{/each}}
                </div>
            </a>
            {{/each}}
            {{else}}
            <p align="center">No results found. <a href="/"><u>Try other key words</u></a></p>
            {{/if}}
        </div>
    </main>
</body>

</html>